<mat-card *ngIf="changeBook">
    <form [formGroup]="form" (submit)="onChangeBook()">
        <mat-form-field>
            <input matInput type="text"
            formControlName="name"
            placeholder="Naziv knjige"
            >
            <mat-error *ngIf="form.get('name').invalid">Molimo unesite naziv knjige</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4"
            formControlName="authors"
            placeholder="Unesite autore razdvojene zarezom"
            >
            </textarea>
            <mat-error *ngIf="form.get('authors').invalid">Molimo unesite autore knjige</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker"
            formControlName="publishDate"
            placeholder="Datum izdavanja knjige"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('publishDate').invalid">Molimo unesite datum izdavanja knjige</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Izaberite zanr</mat-label> 
            <mat-select formControlName="genres" multiple>
                <mat-option *ngFor="let genre of stringGenres" [value]="genre">{{genre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('genres').invalid">Molimo izaberite zanr(ove) knjige i to manje od 4</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput 
            formControlName="description"
            placeholder="Opis knjige"
            ></textarea>
            <mat-error *ngIf="form.get('description').invalid">Molimo unesite opis knjige</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Promeni informacije knjige</button>
    </form>
</mat-card>
<mat-spinner *ngIf="!changeBook"></mat-spinner>