<mat-card>
    <form (submit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm">
        <mat-form-field>
            <input matInput type="password" 
            name="oldPassword"
            ngModel
            placeholder="Stara lozinka"
            #oldPasswordInput="ngModel"
            required>
            <mat-error *ngIf="oldPasswordInput.invalid">Molimo unesite staru lozinku</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" 
            name="newPassword"
            ngModel
            placeholder="Nova lozinka"
            #newPasswordInput="ngModel"
            required>
            <mat-error *ngIf="newPasswordInput.invalid">Molimo unesite novu lozinku</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" 
            name="newPasswordAgain"
            ngModel
            placeholder="Nova lozinka ponovo"
            #newPasswordAgainInput="ngModel"
            required>
            <mat-error *ngIf="newPasswordAgainInput.invalid">Molimo ponovo unesite novu lozinku</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Promena lozinke</button>
    </form>
</mat-card>
<mat-error>{{ message }}</mat-error>